h2 {
    color: darkolivegreen;
    display: inline;
}

body,
html {
    height: 100%;
}

.bg {
    background-image: url("https://cdn.wallpapersafari.com/23/37/ZuqVsC.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana;
}

.navbar {
    margin-bottom: 50px;
}

.my-container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px 30px 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    opacity: 0.85;
}


.innerContainer {
    width: max-content;
    margin: auto;
}


.table {
    margin-top: 10px;
    padding: 0px;
}

.result {
    color: darkolivegreen;
}

#choose {
    margin-bottom: 20px;
}

.button {
    background-color: darkolivegreen;
    color: white;
    margin: 0 auto;
}