<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/style.css} "/>
    <title>Currency</title>
    <meta charset="utf-8">
</head>

<body>
    <div class="bg">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="/">Kifli Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/currencies">Currencies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/countdown">Countdown</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bucket list</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section>
            <div class="my-container">

                <div class="innerContainer">

                    <h2 id="choose">Choose currencies</h2>
                    <br><br><br>
                    <form method="POST" action="/currencies">
                        <label for="number">Number</label>
                        <input type="number" id="number" name="number" value="1"><br>

                        <label for="base">Base</label>
                        <select name="base">
                <option value=""></option>
                <option id="base" th:each="base : ${T(com.rodney073.kifliproject.models.CurrencyEnum).values()}"  th:value="${base}" th:text="${base}"></option>
            </select>

                        <label for="to">To</label>
                        <select name="to">
                <option value=""></option>
                <option id="to" th:each="to : ${T(com.rodney073.kifliproject.models.CurrencyEnum).values()}" th:value="${to}" th:text="${to}"></option>
            </select>
                        <br>
                        <button type="submit" class="button" value="change">Change</button>
                    </form>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    <h3>Number</h3>
                                </th>
                                <th>
                                    <h3>From</h3>
                                </th>
                                <th>
                                    <h3>To</h3>
                                </th>
                                <th>
                                    <h3>Result</h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h3 class="result" th:text="${number}"></h3>
                                </td>
                                <td>
                                    <h3 class="result" th:text="${base}"></h3>
                                </td>
                                <td>
                                    <h3 class="result" th:text="${to}"></h3>
                                </td>
                                <td>
                                    <h3 class="result" th:text="${result}"></h3>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript" src="js/scripts.js"></script>
</body>

</html>]